@model HeartRateWeb.Models.HeartRate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeartRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportsmanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportsmanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartRateValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartRateValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
